body {
  display: flex;
  flex-direction: column;
  align-items: center;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 20px;
}

nav a:hover {
  color: #f1c40f;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

div{
  background-image: linear-gradient(#F1F2B5,#135058);

}
